:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
  --ocean: #404bbf;
  --slate: #434455;
  --white: #fff;
  --green: #31d0aa;
  --lightslate: #8e8f99;
  --dairy: #fcfcfc;
}

html {
  font-size: 32px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--slate);
  overflow-x: hidden;
}

main {
  overflow-x: hidden;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

/* HEADER */

.logo-link {
  font-family: "Raleway", sans-serif;
  font-size: 0;
  font-weight: 800;
  text-decoration: none;
  margin-bottom: 16px;
  /* display: flex; */
  @media screen and (min-width: 320px) {
    margin-bottom: 0px;
  }
}

.logo-link > span {
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.logo,
.studio {
  display: inline-block;
}

.logo {
  color: var(--iris);
}

.page-header {
  border-bottom: 1px solid var(--cornflower);
}

.page-header .container {
  @media screen and (min-width: 320px) {
    height: 70px;
  }
}

.page {
  position: relative;
}

.page::after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 4px;
  border: 2px solid transparent;
  border-radius: 4px;
  bottom: 5px;
  transition: width 250ms ease-in-out, background-color 250ms ease-in-out;
}

.page.current::after {
  width: 100%;
  background-color: var(--ocean);
  border: 2px solid var(--ocean);
}

.page:hover::after,
.page:focus::after {
  border: 2px solid var(--ocean);
  width: 100%;
  background-color: var(--ocean);
}

/* END OF HEADER */

.button {
  font-family: inherit;
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 0.03em;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out,
    box-shadow 250ms ease-in-out;
}

.button.primary {
  color: var(--white);
  background-color: var(--iris);

  font-weight: 500;
  letter-spacing: 0.06em;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  @media screen and (min-width: 425px) {
    line-height: 1.87;
  }
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--ocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out,
    box-shadow 250ms ease-in-out;
}

.section {
  /* padding: 120px 0; for Desktop */
  padding: 96px 0;
  margin: auto 0;
  width: 100%;
  overflow-x: hidden;

  @media screen and (min-width: 1158px) {
    padding: 120px 0;
  }
}

.section.no-top-padding {
  /* padding-top: 0; */
  display: none;

  @media screen and (min-width: 768px) {
    display: none;
  }

  @media screen and (min-width: 1158px) {
    display: contents;
    /* padding-bottom: 120px; */
  }
}

.container {
  /*width: 1200px; for Desktop*/
  /* width: 428px; */
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;

  @media screen and (min-width: 428px) {
    width: 428px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1158px) {
    width: 1158px;
  }
}

/*@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}*/

.menu,
.navigation {
  display: flex;
  align-items: center;
}

.nav-menu {
  /* display: flex; */
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.section-title {
  /* font-size: 36px; for Desktop */
  line-height: 1.17;
  color: var(--navyblue);
  text-align: center;
  font-weight: 700;
  margin-bottom: 72px;
  font-size: 36px;

  @media screen and (min-width: 1158px) {
    font-size: 24px;
  }
}

.benefits {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  /* align-content: center; */
  flex-wrap: wrap;
  gap: 72px;

  @media screen and (min-width: 428px) {
    margin-left: -30px;
    margin-top: -30px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: row;
    align-content: center;
    gap: 0px;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.benefits .item {
  /* flex-basis: calc(100% / 4 - 30px); */
  width: 100%;
  /* margin-left: 30px;
  margin-top: 30px; */
  align-items: center;
  /* text-align: left; */

  @media screen and (min-width: 768px) {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 2 - 30px);
    text-align: left;
  }

  @media screen and (min-width: 1158px) {
    flex-basis: calc(100% / 4 - 30px);
    justify-content: center;
    align-content: center;
    text-align: center;
  }
}

.benefits .title {
  font-size: 36px;
  font-weight: 700;
  color: var(--navyblue);
  line-height: 1.11;
  margin-bottom: 8px;
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 36px;
    font-weight: 700;
    color: var(--navyblue);
    line-height: 1.14;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  @media screen and (min-width: 1158px) {
    font-size: 20px;
    font-weight: 500;
    color: var(--navyblue);
    line-height: 1.14;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

.benefits .description {
  color: var(--slate);
  line-height: 1.71;
  font-size: 16px;
  font-weight: 500;

  @media screen and (min-width: 768px) {
    color: var(--slate);
    line-height: 1.71;
    font-size: 16px;
    font-weight: 400;
  }

  @media screen and (min-width: 1158px) {
    color: var(--slate);
    line-height: 1.71;
    font-size: 16px;
    font-weight: 400;
  }
}

/*.icon-container*/
.benefits-icon {
  display: none;

  @media screen and (min-width: 768px) {
    display: none;
  }

  @media screen and (min-width: 1158px) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: var(--cornflower);
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    border-radius: 4px;
    background: var(--cloud, #f4f4fd);
  }
}

.instagram,
.linkedin,
.twitter,
.facebook {
  fill: var(--cloud);
}

.what-we-do {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 120px;
  /* margin-left: -30px;
  margin-top: -30px; */
}

.what-we-do .item {
  /* flex-basis: calc(100% / 3 - 30px); */
  /* margin-left: 30px;
  margin-top: 30px; */
  margin: auto;

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - 30px);
    align-content: center;
    text-align: center;
  }
}

.team {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 64px; */
  row-gap: 72px;
  flex-wrap: wrap;
  /* margin-left: -30px;
  margin-top: -30px; */

  @media screen and (min-width: 768px) {
    display: flex;
    gap: 24px;
    justify-content: center;
  }
}

.bg-team {
  background-color: var(--cloud);
}

.team-item {
  /* flex-basis: calc(100% / 2 - 30px); */
  /* background-color: lightblue; */
  /* margin-left: 30px;
  margin-top: 30px; */
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 24px; */
  /* margin: 0 auto; */
  padding-bottom: 30px;
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  @media screen and (min-width: 768px) {
    display: inline-flex;
    flex-direction: column;
    /* gap: 24px; */
    justify-content: center;
    align-items: center;
  }

  @media screen and (min-width: 1158px) {
    display: flex;
    /* gap: 24px; */
    justify-content: center;
  }
}

.social-team {
  gap: 24px;
  display: flex;
  justify-content: center;
}

.social-team .link {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 8px; */
  background-color: var(--iris);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #f4f4fd;
}

.icon-item {
  width: 40px;
  height: 40px;
  margin-top: 8px;
}

.icon-item .link {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 8px; */
  background-color: var(--iris);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #f4f4fd;
  fill: currentColor;
  transition: background-color 250ms ease-in-out;
}

.social-team .icon-item .link:hover,
.social-team .icon-item .link:focus {
  background-color: var(--ocean);
}

.studio {
  color: var(--navyblue);
}

.contacts-menu {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    align-items: center;
    margin-left: auto;
  }

  @media screen and (min-width: 1158px) {
    display: flex;
    margin-left: auto;
  }
}

.hero {
  background-image: linear-gradient(
      180deg,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 112px 0;
  text-align: center;

  @media screen and (min-width: 768px) {
    height: 600px;
    padding: 200px 0;
  }

  /* @media screen and (min-width: 768px) {
    background-image: unset;
  } */
}

/* .hero-container {
  width: auto;
  height: auto;

  background-image: linear-gradient(
      180deg,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        180deg,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }
} */

.nav-menu .page,
.contacts-menu .contact {
  font-weight: 500;
  color: var(--navyblue);
  text-decoration: none;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 32px;
  padding-bottom: 31px;
  transition: color 250ms ease-in-out;

  /* @media screen and (min-width: 1158px) {
    display: flex;
    margin-left: auto;
  } */
}

.contacts-menu .contact {
  color: var(--slate);
  text-decoration: none;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.02em;

  @media screen and (min-width: 768px) {
    display: block;
    padding: 0;
    margin: 10px;
  }
}

.nav-menu {
  margin-left: 93px;
}

.contact-menu {
  margin-left: auto;
}

.nav-menu .item:not(:last-child),
.contacts-menu .item:not(:last-child) {
  margin-right: 50px;
}

.nav-menu .page:hover,
.nav-menu .page:focus,
.nav-menu .page.current,
.contacts-menu .contact:hover,
.contacts-menu .contact:focus {
  color: var(--iris);
}

.hero-title {
  /* font-size: 56px; */
  font-size: 36px;
  text-align: center;
  line-height: 1.07;
  font-weight: 700;
  letter-spacing: 0.04em;
  color: var(--white);
  margin-bottom: 72px;

  @media screen and (min-width: 768px) {
    font-size: 56px;
    margin-bottom: 30px;
    padding: 0;
  }
}

.team .name,
.team .position {
  line-height: 1.19;
  text-align: center;
}

.team .name {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--navyblue);

  padding-top: 32px;
  padding-bottom: 10px;

  @media screen and (min-width: 768px) {
    padding-top: 30px;
  }
}

.team .position {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
}

.partners {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  align-items: center;
  justify-content: center;
  row-gap: 72px;
  column-gap: 16px;

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.partners .item {
  width: 168px;
  height: 88px;

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 3 - 30px);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 6 - 30px);
    align-content: center;
    text-align: center;
  }
}

.partners .link {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid var(--lightslate);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: var(--lightslate);
  transition: color 250ms ease-in-out, border-color 250ms ease-in-out;
}

.partners .item .icon {
  fill: currentColor;
}

.partners .link:hover,
.partners .link:focus {
  color: var(--ocean);
  border-color: var(--ocean);
}

/* FOOTER */

.footer {
  display: flex;
  flex-wrap: wrap;
  /* margin-top: -12px;
  margin-left: -50px; */
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
    flex-wrap: wrap;
    padding-left: 108px;
    /* flex-basis: calc(100% / 3 - 30px); */
    /* align-items: center; */
    /* text-align: center; */
  }

  @media screen and (min-width: 1158px) {
    margin: 0 auto;
    padding: 0;
    width: 1158px;
    padding-top: 101.5px;
    /* padding-left: 0px; */
    /* flex-basis: calc(100% / 3 - 30px); */
    /* align-items: center; */
    /* text-align: center; */
  }
}

.footer-address {
  display: flex;
  flex-direction: column;
  width: 268px;
  text-align: center;
  margin-bottom: 72px;
  /* margin-top: 12px; */
  /* margin-right: 123px; */

  @media screen and (min-width: 768px) {
    /* margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto; */
    width: 268px;
    margin-left: 0;
    margin-bottom: 72px;
    text-align: left;
  }

  @media screen and (min-width: 1158px) {
    width: 264px;
    margin-left: 0;
    margin-bottom: 72px;
    text-align: left;
    /* display: flex; */
    /* margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto; */
  }
}

.footer-block {
  /* margin-top: 12px; */
  /* margin-left: 24px; */
  text-align: center;
  width: 208px;
  margin-bottom: 72px;

  @media screen and (min-width: 768px) {
    width: 208px;
    margin-left: 24px;
    text-align: left;
    /* margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto; */
  }

  @media screen and (min-width: 1158px) {
    width: 208px;
    margin-left: 120px;
    display: inline;
    text-align: left;
    /* margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto; */
  }
}

.footer-newsletter {
  margin-left: 0px;
  width: 100%;
  padding: 0 15px;
  text-align: center;
  display: block;

  @media screen and (min-width: 768px) {
    width: 453px;
    padding: 0;
    text-align: left;
    /* margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto; */
  }

  @media screen and (min-width: 1158px) {
    width: 453px;
    margin-left: 80px;
    padding: 0;
    text-align: left;
    /* margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto; */
  }
}

.email {
  border-radius: 4px;
  border: 1px solid var(--white, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  text-decoration: none;
}

.footer-heading {
  line-height: 1.17;
  color: var(--white);
  font-weight: 500;
  margin-bottom: 16px;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }

  @media screen and (min-width: 1158px) {
    text-align: left;
  }
}

.page-footer {
  /* padding: 60px 0 60px 60px; */
  padding: 96px 0;
  width: 100%;
  background-color: var(--navyblue);
  height: 664px;
  /* overflow-x: hidden; */

  @media screen and (min-width: 768px) {
    width: 100%;
    height: 456px;
    padding-top: 97.5px;
  }

  @media screen and (min-width: 1158px) {
    padding: 0;
    height: 312px;
    min-width: 1440px;
  }
}

.studio-footer {
  color: var(--cloud);
}

.logo-link.footer {
  margin-bottom: 20px;
}

.footer-description {
  color: var(--cloud);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  letter-spacing: 0.32px;
  padding-top: 17px;
}

.social-footer {
  gap: 16px;
  padding-top: 10px;
  display: flex;
  justify-content: flex-start;
}

.social-footer .link:hover,
.social-footer .link:focus {
  background-color: var(--green);
}

.newsletter-button {
  background-color: var(--iris);
  color: var(--cornflower);
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  margin: 0 auto;
  width: 150px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter-button:hover,
.newsletter-button:focus {
  background-color: var(--ocean);
}

.form-input-newsletter {
  background: transparent;
  margin-top: 16px;
  /* margin-right: 20px; */
  margin-bottom: 16px;
  font-size: 12px;
  outline: none;
  height: 40px;
  width: 100%;
  padding: 11px 16px 11px 10px;
  border: 1px solid white;
  border-radius: 4px;
  line-height: 0.87px;
  letter-spacing: 0.01em;
  color: var(--cloud);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    width: 264px;
    margin-right: 24px;
  }

  @media screen and (min-width: 1158px) {
    width: 264px;
    margin-right: 24px;
  }
}

.newsletter-icon {
  fill: var(--white);
  margin-left: 10px;
}

.newsletter-icon-container {
  position: absolute;
  justify-content: center;
  text-align: center;
}

.form-input-newsletter::placeholder {
  color: white;
}

/* End of FOOTER */

/* PORTFOLIO - Button Filters */
.button.filter {
  background: var(--cloud);
  color: var(--iris);
  font-weight: 500;
  line-height: 1.62;
  padding: 5px 22px;
}

.button.filter:hover,
.button.filter:focus,
.button.filter.current {
  background-color: var(--ocean);
  color: var(--cloud);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.filters .space + .space {
  margin-left: 8px;
}
/*End of Button Filters */

/* PORTFOLIO - Project */

.project .name {
  font-size: 20px;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--navyblue);
  margin-bottom: 4px;
}

.project .type {
  color: var(--slate);
  font-weight: 400;
  line-height: 1.87;
  font-size: 16px;
}

.projects {
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.project-card {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.project-card:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.cover-wrap {
  position: relative;
  overflow: hidden;
}

.cover-text {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  background-color: var(--iris);
  color: var(--cloud);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card:hover .cover-text {
  transform: translateY(0);
}

.substrate {
  background-color: var(--white);
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

/*End of Project */

/* MODAL  WINDOW*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  padding: 72px 16px 16px 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  /* min-width: 428px; */
  width: 300px;
  /* min-height: 584px; */
  /* height: 100vh; */

  @media screen and (min-width: 428px) {
    height: auto;
    min-width: 428px;
    width: auto;
    padding: 72px 24px 24px 24px;
  }

  border-radius: 4px;
  background-color: var(--dairy);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 4px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: var(--cornflower);
  color: var(--navyblue);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
  fill: currentColor;
}

.modal-close:hover,
.modal-close:focus {
  background-color: var(--ocean);
  color: white;
}

.is-hidden {
  visibility: none;
  opacity: 0;
  pointer-events: none;
}

.modal-title {
  font-weight: 500;
  text-align: center;
  color: var(--slate);
  margin-bottom: 34px;
}

.form-field {
  position: relative;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.1;
  color: var(--lightslate);
  width: 100%;
}

.form-label {
  position: absolute;
  top: -20px;
}

.form-label-textarea {
  position: relative;
  margin-bottom: 16px;
  font-size: 12px;
  line-height: 1.1;
  color: var(--lightslate);
}

.form-input,
.form-textarea {
  display: block;
  /* width: 360px; */
  width: 100%;
  height: 40px;
  padding: 11px 0px 11px 38px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  line-height: 0.87px;
  letter-spacing: 0.01em;

  color: var(--slate);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 428) {
    width: 360px;
  }
}

.form-input:hover,
.form-input:focus,
.form-textarea:hover,
.form-textarea:focus {
  outline: none;
  border-color: var(--iris);
}

.form-textarea {
  padding-left: 16px;
  resize: none;
  height: 128px;
}

.form-textarea::placeholder {
  color: var(--lightslate);
}

.form-terms {
  display: flex;
  justify-content: flex-start;
  width: 360px;
  height: 16px;
  align-items: center;
  gap: 8px;
  margin-bottom: 34px;
}

.form-button {
  background-color: var(--iris);
  color: var(--cornflower);
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  margin: 0 auto;
  display: block;
  width: 169px;
  height: 56px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.form-button:hover,
.form-button:focus {
  background-color: var(--ocean);
}

.modal-user-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .modal-user-icon,
.form-input:hover + .modal-user-icon {
  fill: var(--iris);
}

.form-checkbox {
  appearance: none;
  position: absolute;
}

.form-checkbox-icon {
  fill: none;
  border: 1px solid var(--lightslate);
  border-radius: 2px;
  display: inline-block;
  width: 16px;
}

.agree-text {
  font-size: 12px;
  font-weight: 400;
  color: var(--lightslate);
  line-height: 1.4;
}

.form-checkbox:checked + .form-checkbox-icon {
  background-color: var(--iris);
  border-color: var(--iris);
  fill: var(--cloud);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* End of MODAL WINDOW */

/* HAMBURGER MENU ICON */

/* .hamburger-menu-icon {
  display: none;
} */

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;

  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  color: var(--cloud);
  border: 1px solid var(--cornflower);
  width: 24px;
  height: 24px;

  @media screen and (min-width: 768px) {
    display: none;
    margin-right: 30px;
  }
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 40px;
  background-color: var(--dairy);
  z-index: 200;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    display: none;
  }

  @media screen and (min-width: 1158px) {
    display: none;
  }
}

.menu-container.is-open {
  transform: translateX(0);
  /* transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

/* Mobile Navigation */

.mob-menu-item {
  margin-bottom: 32px;
}

.mob-menu-list {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  column-gap: 40px;
}

.mob-menu-link {
  display: block;
  font-weight: 500;
  font-size: 36px;
  font-weight: 700;
  font-style: normal;
  line-height: 40px;
  letter-spacing: 0.72px;
  color: var(--slate);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-link:hover,
.mob-menu-link:focus,
.mob-menu-link.current {
  color: var(--iris);
}

.mob-address {
  /* address doesn't inherit font style */
  font-style: normal;
  font-size: 36px;
  margin-bottom: 32px;
}

.mob-address-link {
  /* Link tags doesn't inherit colors */
  color: var(--iris);
  font-size: 36px;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-address-link:hover,
.mob-address-link:focus {
  color: var(--iris);
}

.mob-contact {
  font-size: 20px;
  font-weight: 500;
}

/* Mobile Socials */
.mob-social-list {
  display: flex;
  justify-content: center;
  /* gap: 50px; */
  justify-content: space-between;
}

.mob-social-item {
  width: 40px;
  height: 40px;
}

.mob-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--cloud);
  background-color: var(--iris);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-container-footer {
  justify-content: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mob-social-link:hover,
.mob-social-link:focus {
  background-color: var(--slate);
}

.mob-social-icon {
  fill: currentColor;
}

/* End of HAMBURGER MENU ICON */
